h1 {
    text-align: center;
}

form {
    text-align: center;
}

input[type=submit] {
    font-size: 15px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
}