{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'news/css/add_news.css' %}">
{% endblock %}

{% block title %} Add news {% endblock %}

{% block content %}
    {% include 'includes/navbar.html' %}
    <br>
    <h1>Add news to the feed</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>

{% endblock %}