{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'news/css/list.css' %}">
{% endblock %}

{% block title %} Feed {% endblock %}

{% block content %}
    {% include 'includes/navbar.html' %} <br>
     <ul>
        {% for item in items %}
        <li>
            <h2>{{ item.title }}</h2>
            <h4>{{ item.body }}</h4>
            <p>Date published: {{item.publish_date}}</p>
            <p>{{ item.image }}</p>
        </li>
        {% endfor %}
    </ul>
    <br/>
{{ news }}
{% endblock %}